
<div class="top-main">
  <div class="top-message">
    <h2>賃貸レビュー.com</h2>
    <p>賃貸物件のレビューサイトで 、悔いのない物件選び。</p>
    <%= link_to("東京","/posts/index",{ :class => "btn btn-outline-primary" }) %>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
</div>
