<header>
  <div class="header-logo">
    <a href="/">SHOEN</a>
  </div>
  <ul class="header-menus">
    <li>SHOENとは</li>
  </ul>
</header>

<div class="top-main">
  <div class="top-message">
    <h2>賃貸レビューサイト、SHOEN</h2>
    <p>賃貸物件のレビューサイトで 、悔いのない物件選び。</p>
  </div>
</div>