<header>
  <div class="header-logo">
    SHOEN
  </div>
  <ul class="header-menus">
    <li>SHOENとは</li>
  </ul>
</header>

<div class="top-main">
<h2>賃貸レビューサイト、SHOEN</h2>
<p>賃貸物件のレビューサイトです。悔いのない物件選びを！</p>
</div>